<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AAPM Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">

    <!-- ICONES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <div class="background">

        <img src="/static/img/circulo.png" alt="" class="rotating-circle">
        <header>

            <nav class="navbar">

                <img src="/static/img/logo.png" alt="Logo AAPM" class="navbar-logo">


            </nav>

        </header>




        <!-- CONTEÚDO -->
        <main class="container">

            <!-- ESQUERDA -->
            <section class="left">

                <h1 class="logo-text">
                    AAPM
                </h1>

                <p>
                    A AAPM é uma entidade sem fins lucrativos
                    presente em diversas unidades com o objetivo
                    de apoiar a melhoria da infraestrutura,
                    atividades pedagógicas e vivência escolar.
                </p>

            </section>


            <!-- DIREITA -->
            <section class="right">
                <form action="/auth/login" method="POST">
                    <div class="login-card">

                        <h1>Entrar</h1>


                        <div class="input-group">
                            <label for="email" style="color: white; margin-bottom: 5px; display: block;">E-mail
                                corporativo</label>
                            <div class="input-box">
                                <i class="fa-solid fa-user"></i> <input type="email" id="email" name="email"
                                    placeholder="seu@email.com" required>
                            </div>
                        </div>

                        <div class="input-group">
                            <label for="senha" style="color: white; margin-bottom: 5px; display: block;">Senha de
                                acesso</label>
                            <div class="input-box">
                                <i class="fa-solid fa-lock"></i> <input type="password" id="senha" name="senha"
                                    placeholder="••••••••" required>
                            </div>
                        </div>


                        <button type="submit">
                            Login
                        </button>

                    </div>
                </form>
            </section>

        </main>

    </div>

</body>

</html>