<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAPM | Sistema de Estoque</title>

    <link rel="stylesheet" href="/static/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="background">
    <header class="navbar">
        <div class="navbar-container">
            <img src="/static/img/logo.png" alt="Logo AAPM" class="navbar-logo">

        </div>
    </header>

    <main class="main-wrapper">
        <div class="glass-card">
            <span class="badge">AAPM - Controle</span>
            <h1>Sistema de Estoque</h1>
            <p>Acesse as ferramentas de gestão e controle de inventário da sua unidade.</p>
            
            <div class="button-group">
                <a href="/auth/login" class="btn btn-primary">
                    <span>Entrar no Sistema</span>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
            </div>
        </div>
</div>
    </main>

</body>
</html>